<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
    <link rel="stylesheet" href="/css/evidence.css">

  <title>Evidence</title>
</head>
<body>
    <%- include('partials/nav') %>
  <div class="container">
    <h1 class="my-4 ev-title">Evidence for Task <%= taskId %></h1>
    <% let cardId = 0; console.log(data) %>

      <% data.forEach((evidenceItem, index) => { url = evidenceItem.url; %>
        <div class="card my-3 evidence-card">
            <div class="card-header justify-content-between align-items-center" id="heading<%= cardId %>" data-bs-toggle="collapse" data-bs-target="#collapse<%= cardId %>" aria-expanded="false" aria-controls="collapse<%= cardId %>" style="cursor: pointer;">
              <div>
                <span class="tagline"><%= evidenceItem.tagline %></span> <br><hr> 
                <span class="citation"><%= evidenceItem.citation %> - </span>
                <a href="<%= url %>" target="_blank" class="evidence-url"><%= url %></a>
                <input type="checkbox" class="evidence-checkbox custom-checkbox" data-url="<%= url %>" data-index="<%= index %>" data-evidence="<%=evidenceItem.id%>">
              </div>
              
            </div>
          <div id="collapse<%= cardId %>" class="collapse" aria-labelledby="heading<%= cardId %>">
            <div class="card-body">
                
            <% evidenceItem.relevant_sentences.forEach(([sentence, isRelevant, previousContext, afterContext], sentenceIndex) => { %>
                <% previousContext.forEach(([context, similarity], contextIndex) => { %>
                    <% if (similarity > 0.5) { %>
                    <u class="sentence high-similarity"><%= context %></u>
                    <% } else { %>
                    <span class="small-sentence small-text"><%= context %></span>
                    <% } %>
                <% }) %>
                <% if (isRelevant) { %>
                    <strong class="sentence relevant"><%= sentence %></strong>
                <% } else { %>
                    <span class="small-sentence"><%= sentence %></span>
                <% } %>
                <% afterContext.forEach(([context, similarity], contextIndex) => { %>
                    <% if (similarity > 0.5) { %>
                    <u class="sentence high-similarity"><%= context %></u>
                    <% } else { %>
                    <span class="small-sentence small-text"><%= context %></span>
                    <% } %>
                <% }) %>
                <% if (sentenceIndex < evidenceItem.relevant_sentences.length - 1) { %>
                    <span class="sentence"></span>
                <% } %>
                <% }) %>
                


            </div>
          </div>
        </div>
        <% cardId++; %>
      <% }) %>

  </div>
  <button id="download-selected-evidence" class="btn btn-primary mt-3" style="">Download Selected Evidence</button>
  <%- include("partials/footer")%>
  <script>function getData() {return <%- JSON.stringify(data) %> }</script> 
  <script src="/js/evidence.js"></script>
</body>
</html>
